[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
bootstrap4 = "*"
django-newsletter = "*"
sorl-thumbnail = "*"
gunicorn = "*"
django-heroku = "*"
whitenoise = "*"
psycopg2 = "*"
dj-database-url = "*"
setuptools = "*"
pytz = "*"
pip = "*"
python-dotenv = "*"
Pipfile = "*"
psycopg2-binary = "*"
django-cleanup = "*"
pypaystack = "*"

[dev-packages]

[requires]
python_version = "3.8"
