{% extends 'youth/base.html' %}
{% load static %}

{% block title %}About{% endblock %}

{% block body %}
    <section id="home" class="video-hero js-fullheight" style="height: 700px; background-image: url({% static 'images/back.jpg' %});  background-size:cover; background-position: center center;background-attachment:fixed;" data-section="home">
			<div class="overlay js-fullheight"></div>
			<div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-10 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
            <p class="breadcrumbs mb-2" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="{% url 'youth:index' %}">Home</a></span> <span>About</span></p>
            <h1 class="mb-3 mt-0 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">About Us</h1>
          </div>
        </div>
      </div>
		</section>

		<section class="ftco-bible-study">
			<div class="container-wrap">
				<div class="col-md-12 wrap">
					<div class="container">
						<div class="row">
							<div class="col-md-12 d-md-flex">
								<div class="one-forth ftco-animate">
									<h3>Youth Church Congress</h3>
									<p>m eius mollitia suscipit,.</p>
								</div>
								<div class="one-half d-md-flex align-items-md-center ftco-animate">
									<div class="countdown-wrap">
										<p class="countdown d-flex">
											<span id="days"></span>
											<span id="hours"></span>
											<span id="minutes"></span>
											<span id="seconds"></span>
										</p>
									</div>
									<div class="button">
										<p><a href="#" class="btn btn-primary p-3">Events Details</a></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="ftco-section-2">
      <div class="container-fluid">
        <div class="section-2-blocks-wrapper d-flex row no-gutters">
          <div class="img col-md-6 ftco-animate" style="background-image: url({% static 'images/home1.jpg' %});">
            <a href="https://www.youtube.com/watch?v=VrkXGG3EKPU" class="button popup-vimeo"><span class="ion-ios-play"></span></a>
          </div>
          <div class="text col-md-6 ftco-animate">
            <div class="text-inner align-self-start">
              
              <h3>Loving God, Loving Others and Serving the World</h3>
              <p>Accepts the Lord Jesus Christ as Saviour and believes in the full manifestation of the gifts and fruit of the Holy Spirit.The Church has a membership of about 135,000 congregants, 289 Ministers in active service and 870 congregations spread throughout the country.</p>

              <p>The Church also has branches in some foreign countries such as the United Kingdom, United States of America, Norway, Cote d’Ivoire, Togo and Kenya with missionary efforts in other countries.The Church has a Synod which serves as its ‘Parliament’. The Synod Committee, a representative council serves as the decision-making body of the Church</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section testimony-section bg-light">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <span class="subheading">Read, Get Inspired, and Share Your Story</span>
            <h2 class="mb-4">Testimonies</h2>
            <p>Read them with a clean and genuine heart</p>
          </div>
        </div>
        <div class="row ftco-animate">
          <div class="col-md-12">
            <div class="carousel-testimony owl-carousel ftco-owl">
              <div class="item text-center">
                <div class="testimony-wrap p-4 pb-5">
                  <div class="user-img mb-4" style="background-image: url({% static 'images/back2.jpg' %})">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-right"></i>
                    </span>
                  </div>
                  <div class="text">
                    <p class="mb-5">Testimonies 2</p>
                    <p class="name">Dennis Green</p>
                    <span class="position">Member</span>
                  </div>
                </div>
              </div>
              <div class="item text-center">
                <div class="testimony-wrap p-4 pb-5">
                  <div class="user-img mb-4" style="background-image: url({% static 'images/boy.jpg' %})">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-right"></i>
                    </span>
                  </div>
                  <div class="text">
                    <p class="mb-5">Testimonies 3</p>
                    <p class="name">Vicentia Agboliko</p>
                    <span class="position">Volunteer</span>
                  </div>
                </div>
              </div>
              <div class="item text-center">
                <div class="testimony-wrap p-4 pb-5">
                  <div class="user-img mb-4" style="background-image: url({% static 'images/boy.jpg' %})">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-right"></i>
                    </span>
                  </div>
                  <div class="text">
                    <p class="mb-5">Testimonies 5</p>
                    <p class="name">Kwame Addai</p>
                    <span class="position">Pastor</span>
                  </div>
                </div>
              </div>
              <div class="item text-center">
                <div class="testimony-wrap p-4 pb-5">
                  <div class="user-img mb-4" style="background-image: url({% static 'images/back2.jpg' %})">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-right"></i>
                    </span>
                  </div>
                  <div class="text">
                    <p class="mb-5">Testimonies 6</p>
                    <p class="name">Gapketor Matthew</p>
                    <span class="position">Guest</span>
                  </div>
                </div>
              </div>
              <div class="item text-center">
                <div class="testimony-wrap p-4 pb-5">
                  <div class="user-img mb-4" style="background-image: url({% static 'images/back2.jpg' %})">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-right"></i>
                    </span>
                  </div>
                  <div class="text">
                    <p class="mb-5">Testimonies 8.</p>
                    <p class="name">Aklidoku Patience</p>
                    <span class="position">Pastor</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    
    <section class="ftco-section ftco-counter" id="section-counter">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <h2>Church Achievements</h2>
            <p>We have done well.</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" data-number="94">0</strong>
                <span>Youth Churches In The Country</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" data-number="3900">0</strong>
                <span>Members Around The Country</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" data-number="60350">0</strong>
                <span>Save life &amp; Donations</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section-3 bg-light">
      <div class="container" >
        <div class="row no-gutters" >
          <div class="col-md-4 py-5 nav-link-wrap aside-stretch" style="background-image: url({% static 'images/home1.jpg' %});">
            <div class="nav ftco-animate flex-column nav-pills text-md-right" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link active pr-5" id="v-pills-mission-tab" data-toggle="pill" href="#v-pills-master" role="tab" aria-controls="v-pills-mission" aria-selected="true">Welfare</a>

              <a class="nav-link pr-5" id="v-pills-vission-tab" data-toggle="pill" href="#v-pills-buffet" role="tab" aria-controls="v-pills-vission" aria-selected="false">Dues</a>
            </div>
          </div>
          <div class="col-md-8 pt-5 pb-5 pl-md-5 d-flex align-items-center">
            
            <div class="tab-content ftco-animate pl-md-5" id="v-pills-tabContent">

              <div class="tab-pane fade show active" id="v-pills-mission" role="tabpanel" aria-labelledby="v-pills-mission-tab">
                <span class="icon mb-3 d-block flaticon-bed"></span>
                <h2 class="mb-4">Welfare and Dues</h2>
              	<p class="lead">"Welfare dues is part ...."</p>
                <p>Dues contribute hugely to the development of the ....</p>
                <p>tempore et quam natus quaerat doloremque.</p>
              </div>

              <div class="tab-pane fade" id="v-pills-vission" role="tabpanel" aria-labelledby="v-pills-vission-tab">
                <span class="icon mb-3 d-block flaticon-tray"></span>
                <h2 class="mb-4">Welfare and Dues</h2>
                <p>"Welfare dues is part ...."</p>
                <p>Dues contribute hugely to the development of the ....</p>
                <p>tempore et quam natus quaerat doloremque</p>
                <p><a href="#" class="btn btn-primary">Learn More</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center mb-5 pb-5">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <h2>Our Pastors</h2>
            <p>Commodi exercitationem vitae deserunt qui nihil ea, tempore et quam natus quaerat doloremque.</p>
          </div>
        </div>
    		<div class="row">
    			<div class="col-md-4 ftco-animate">
            <div class="block-10 d-md-flex align-items-center">
            	<div class="img" style="background-image: url({% static 'images/back2.jpg' %})"></div>
              <div class="person-info pl-md-3">
                <span class="name">Mr President</span>
                <span class="position">President</span>
              </div>
            </div>
          </div>
          <div class="col-md-4 ftco-animate">
            <div class="block-10 d-md-flex align-items-center">
            	<div class="img" style="background-image: url({% static 'images/boy.jpg' %})"></div>
              <div class="person-info pl-md-3">
                <span class="name">Veep</span>
                <span class="position">Vice President</span>
              </div>
            </div>
          </div>
          <div class="col-md-4 ftco-animate">
            <div class="block-10 d-md-flex align-items-center">
            	<div class="img" style="background-image: url({% static 'images/boy.jpg' %})"></div>
              <div class="person-info pl-md-3">
                <span class="name">Sece Sece</span>
                <span class="position">Secretary</span>
              </div>
            </div>
          </div>
    		</div>
    	</div>
    </section>

{% endblock body %}