{% extends 'youth/base.html' %}
{% load static %}

{% block title %}Blog{% endblock %}

{% block body %}

    <section id="home" class="video-hero js-fullheight" style="height: 700px; background-image: url({% static 'images/home1.jpg' %});  background-size:cover; background-position: center center;background-attachment:fixed;" data-section="home">
			<div class="overlay js-fullheight"></div>
			<div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-10 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
            <p class="breadcrumbs mb-2" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="{% url 'youth:index' %}">Home</a></span> <span>Blog</span></p>
            <h1 class="mb-3 mt-0 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Blog</h1>
          </div>
        </div>
      </div>
		</section>

		<section class="ftco-bible-study">
			<div class="container-wrap">
				<div class="col-md-12 wrap">
					<div class="container">
						<div class="row">
							<div class="col-md-12 d-md-flex">
								<div class="one-forth ftco-animate">
									<h3>Youth Church Congress</h3>
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, eius mollitia suscipit,.</p>
								</div>
								<div class="one-half d-md-flex align-items-md-center ftco-animate">
									<div class="countdown-wrap">
										<p class="countdown d-flex">
											<span id="days"></span>
											<span id="hours"></span>
											<span id="minutes"></span>
											<span id="seconds"></span>
										</p>
									</div>
									<div class="button">
										<p><a href="#" class="btn btn-primary p-3">Events Details</a></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>



		<section class="ftco-section">
      <div class="container">
        <div class="row">
        {% for post in post_list %}
          <div class="col-md-4 ftco-animate">
            <div class="blog-entry " data-aos-delay="200">
            
              <a href="{% url 'youth:blog-single' post.slug %}" class="block-20" style="background-image: url({{ post.picture.url }});">
              </a>
              <div class="text p-4 d-block">
                <div class="meta mb-3">
                  <div><a href="#">{{ post.created_on }}</a></div>
                  <div><a href="#">{{ post.author }} </a></div>
                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                </div>
                  <h3 class="heading"><a href="#">{{ post.title }}</a></h3>
                    <div class="comment-body">
                      <p>{{ post.content|slice:":200"}}</p>
                    </div> 
                    <a href="{% url 'youth:blog-single' post.slug  %}" class="btn btn-primary">Read More &rarr;</a>              
              </div>
            </div>
          </div>
        {% endfor %}

        </div> 
      </div>
      
      <div class="row mt-5">
      {% if is_paginated %}
        <div class="col text-center">
          <div class="block-27">
            <ul>
              {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}" class="btn btn-primary">&laquo;P </a></li>
              {% endif %}
              {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="btn btn-primary">N&raquo;</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
      {% endif %}
      </div>

  </section>


{% endblock body %}