{% extends 'youth/base.html' %}
{% load static %}

{% block title %}Contact{% endblock %}

{% block body %}
    <section id="home" class="video-hero js-fullheight" style="height: 700px; background-image: url({% static 'images/back.jpg' %});  background-size:cover; background-position: center center;background-attachment:fixed;" data-section="home">
			<div class="overlay js-fullheight"></div>
			<div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-10 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
            <p class="breadcrumbs mb-2" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="{% url 'youth:index' %}">Home</a></span> <span>Contact</span></p>
            <h1 class="mb-3 mt-0 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Contact</h1>
          </div>
        </div>
      </div>
		</section>

		<section class="ftco-section contact-section ftco-degree-bg">
        <div class="container bg-light">
          <div class="row d-flex mb-5 contact-info">
            <div class="col-md-12 mb-4">
              <h2 class="h4">Contact Information</h2>
            </div>
          <div class="w-100"></div>
          <div class="col-md-3">
            <p><span>Address:</span> Multi Street, Sebrepor Tema, Accra</p>
          </div>
          <div class="col-md-3">
            <p><span>Phone:</span> <a href="tel: +233561440355">+233 56144 0355</a></p>
          </div>
          <div class="col-md-3">
            <p><span>Email:</span> <a href="mailto:info@gecyouthchurch.com">info@gecyouthchurch.com</a></p>
          </div>
          <div class="col-md-3">
            <p><span>Website</span> <a href="#">www.gecyouthchurch.com</a></p>
          </div>
        </div>
        <div class="row block-9">
          <div class="col-md-6 pr-md-5">
            <form action="#" method="post" onsubmit="myButton.disabled = true; return true;">
            {% csrf_token %}
            {% if messages %}
            <ul class="messages">
              {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
              {% endfor %}
            </ul>
            {% endif %}

              <div class="form-group">
                <input type="text"  id="fullname" name="fullname" class="form-control" placeholder="Your Name" required>
              </div>
              <div class="form-group">
                <input type="text" id="email" name="email" class="form-control" placeholder="Your Email" required>
              </div>
              <div class="form-group">
                <input type="text" id="phone" name="phone" class="form-control" placeholder="Phone Number" maxlength=10 required>
              </div>
              <div class="form-group">
                <textarea name="subject" id="subject" cols="30" rows="7" class="form-control" placeholder="Send Us A Message" required></textarea>
              </div>
              <div class="form-group">
                <input type="submit" name="myButton" value="Send Message" class="btn btn-primary py-3 px-5">
              </div>
            </form>
          </div>

          <div class="col-md-6" id="map"></div>
        </div>
      </div>
    </section>
{% endblock body %}