{% extends 'youth/base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block body %}
    <section id="home" class="video-hero js-fullheight" style="height: 700px; background-image: url({% static 'images/back.jpg' %});  background-size:cover; background-position: center center;background-attachment:fixed;" data-section="home">
			<div class="overlay js-fullheight"></div>
			<a class="player" data-property="{videoURL:'https://www.youtube.com/',containment:'#home', showControls:false, autoPlay:true, loop:true, mute:false, startAt:0, opacity:1, quality:'default'}"></a>
			<div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-10 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
            <h1 class="mb-4" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Arise and Build With<strong> Commitment </strong></h1>
            <p data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><a href="#" class="btn btn-primary btn-outline-white px-4 py-3">Arise with Us</a></p>
          </div>
        </div>
      </div>
		</section>

		<section class="ftco-section-2">
      <div class="container-fluid">
        <div class="section-2-blocks-wrapper d-flex row no-gutters">
          <div class="img col-md-6 ftco-animate" style="background-image: url({% static 'images/home1.jpg' %});">
            <a href="https://www.youtube.com/watch?v=VrkXGG3EKPU" class="button popup-vimeo"><span class="ion-ios-play"></span></a>
          </div>
          <div class="text col-md-6 ftco-animate">
            <div class="text-inner align-self-start">
              
              <h3>Lorem ipsum dolor sit amet,</h3>
              <p>{% lorem 1 %}</p>

              <p>{% lorem 1 %}</p>
            </div>
          </div>
        </div>
      </div>
    </section>
  
    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
          <div class="col-md-6 text-center heading-section ftco-animate">
            <span class="subheading">Lorem ipsum dolor</span>
            <h2 class="mb-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block text-center">
              <div class="d-flex justify-content-center"><div class="icon d-flex justify-content-center mb-3"><span class="align-self-center flaticon-planet-earth"></span></div></div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">World Evangelism</h3>
                <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
              </div>
            </div>      
          </div>
          <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block text-center">
              <div class="d-flex justify-content-center"><div class="icon d-flex justify-content-center mb-3"><span class="align-self-center flaticon-maternity"></span></div></div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Ministries</h3>
                <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
              </div>
            </div>      
          </div>
          <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block text-center">
              <div class="d-flex justify-content-center"><div class="icon d-flex justify-content-center mb-3"><span class="align-self-center flaticon-pray"></span></div></div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Prayer Request</h3>
                <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
              </div>
            </div>    
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block text-center">
              <div class="d-flex justify-content-center"><div class="icon d-flex justify-content-center mb-3"><span class="align-self-center flaticon-podcast"></span></div></div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Audio</h3>
                <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
              </div>
            </div>      
          </div>
        </div>
      </div>
    </section>
    <section class="ftco-section">
      <div class="container">
        <div class="row no-gutters justify-content-center mb-5 pb-5">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <span class="subheading">Sermons</span>
            <h2 class="mb-4">Watch our sermons</h2>
            <p>{% lorem 1 %}</p>
          </div>
        </div>
        <div class="row">
        	<div class="col-md-4 ftco-animate">
        		<div class="sermons">
        			<a href="https://www.youtube.com/watch?v=VrkXGG3EKPU" class="img popup-vimeo mb-3 d-flex justify-content-center align-items-center" style="background-image: url({% static 'images/pray1.jpg' %});">
        				<div class="icon d-flex justify-content-center align-items-center">
        					<span class="icon-play"></span>
        				</div>
        			</a>
        			<div class="text">
        				<h3><a href="#">Be at Peace With One Another</a></h3>
        				<span class="position">Pastor. Patrick</span>
        			</div>
        		</div>
        	</div>
        	<div class="col-md-4 ftco-animate">
        		<div class="sermons">
        			<a href="https://www.youtube.com/watch?v=VrkXGG3EKPU" class="img popup-vimeo mb-3 d-flex justify-content-center align-items-center" style="background-image: url({% static 'images/pray2.jpg' %});">
        				<div class="icon d-flex justify-content-center align-items-center">
        					<span class="icon-play"></span>
        				</div>
        			</a>
        			<div class="text">
        				<h3><a href="#">Inspirational Message of God</a></h3>
        				<span class="position">Pastor. Ricky</span>
        			</div>
        		</div>
        	</div>
        	<div class="col-md-4 ftco-animate">
        		<div class="sermons">
        			<a href="https://www.youtube.com/watch?v=VrkXGG3EKPU" class="img popup-vimeo mb-3 d-flex justify-content-center align-items-center" style="background-image: url({% static 'images/pray3.jpg' %});">
        				<div class="icon d-flex justify-content-center align-items-center">
        					<span class="icon-play"></span>
        				</div>
        			</a>
        			<div class="text">
        				<h3><a href="#">Prayers, Presence, and Provision</a></h3>
        				<span class="position">Confidence</span>
        			</div>
        		</div>
        	</div>
        </div>
        <div class="row mt-5">
        	<div class="col text-center">
        		<p><a href="{% url 'youth:sermons' %}" class="btn btn-primary btn-outline-primary p-3">Watch all sermons</a></p>
        	</div>
        </div>
      </div>
    </section>
    <section class="ftco-section testimony-section bg-light">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <span class="subheading">Read, Get Inspired, and Share Your Story</span>
            <h2 class="mb-4">Testimonies</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, eius mollitia suscipit,, there live the blind texts. Separated they live in</p>
          </div>
        </div>
        <div class="row ftco-animate">
          <div class="col-md-12">
            <div class="carousel-testimony owl-carousel ftco-owl">
              <div class="item text-center">
                <div class="testimony-wrap p-4 pb-5">
                  <div class="user-img mb-4" style="background-image: url({% static 'images/back2.jpg' %})">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-right"></i>
                    </span>
                  </div>
                  <div class="text">
                    <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, eius mollitia suscipit,, there live the blind texts.</p>
                    <p class="name">Dennis Green</p>
                    <span class="position">Member</span>
                  </div>
                </div>
              </div>
              <div class="item text-center">
                <div class="testimony-wrap p-4 pb-5">
                  <div class="user-img mb-4" style="background-image: url({% static 'images/boy.jpg' %})">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-right"></i>
                    </span>
                  </div>
                  <div class="text">
                    <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, eius mollitia suscipit,, there live the blind texts.</p>
                    <p class="name">Dennis Green</p>
                    <span class="position">Volunteer</span>
                  </div>
                </div>
              </div>
              <div class="item text-center">
                <div class="testimony-wrap p-4 pb-5">
                  <div class="user-img mb-4" style="background-image: url({% static 'images/boy.jpg' %})">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-right"></i>
                    </span>
                  </div>
                  <div class="text">
                    <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, eius mollitia suscipit,, there live the blind texts.</p>
                    <p class="name">Dennis Green</p>
                    <span class="position">Pastor</span>
                  </div>
                </div>
              </div>
              <div class="item text-center">
                <div class="testimony-wrap p-4 pb-5">
                  <div class="user-img mb-4" style="background-image: url({% static 'images/back2.jpg' %})">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-right"></i>
                    </span>
                  </div>
                  <div class="text">
                    <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, eius mollitia suscipit,, there live the blind texts.</p>
                    <p class="name">Dennis Green</p>
                    <span class="position">Guest</span>
                  </div>
                </div>
              </div>
              <div class="item text-center">
                <div class="testimony-wrap p-4 pb-5">
                  <div class="user-img mb-4" style="background-image: url({% static 'images/back2.jpg' %})">
                    <span class="quote d-flex align-items-center justify-content-center">
                      <i class="icon-quote-right"></i>
                    </span>
                  </div>
                  <div class="text">
                    <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, eius mollitia suscipit,, there live the blind texts.</p>
                    <p class="name">Dennis Green</p>
                    <span class="position">Pastor</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="ftco-section ftco-counter" id="section-counter">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <h2>Church Achievements</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, eius mollitia suscipit,, there live the blind texts. Separated they live in</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" data-number="94">0</strong>
                <span>Youth Churches In The Country</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" data-number="3900">0</strong>
                <span>Members Around The Country</span>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4 d-flex justify-content-center counter-wrap ftco-animate">
            <div class="block-18 text-center">
              <div class="text">
                <strong class="number" data-number="60350">0</strong>
                <span>Save life &amp; Donations</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="ftco-section-2 bg-light">
    	<div class="container-fluid">
    		<div class="row no-gutters d-flex">
    			<div class="col-md-6 img d-flex justify-content-end align-items-center" style="background-image: url({% static 'images/sing2.jpg' %});">
    				<div class="col-md-7 heading-section text-sm-center text-md-right heading-section-white ftco-animate mr-md-5 mt-md-5">
	            <h2>Our latest events</h2>
	            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, eius mollitia suscipit,, there live the blind texts. Separated they live in</p>
	            <p><a href="{% url 'youth:events' %}" class="btn btn-primary py-3 px-4">View Events</a></p>
	          </div>
    			</div>
    			<div class="col-md-6">
    				<div class="event-wrap">
	    				<div class="event-entry d-flex ftco-animate">
	    					<div class="meta mr-4">
	    						<p>
	    							<span>23</span>
	    							<span>Sept 2020</span>
	    						</p>
	    					</div>
	    					<div class="text">
	    						<h3 class="mb-2"><a href="events.html">Saturday's Bible Reading</a></h3>
	    						<p class="mb-4"><span>9:00am at 12th Street Tema Accra</span></p>
	    						<a href="events.html" class="img" style="background-image: url({% static 'images/sing3.jpg' %});"></a>
	    					</div>
	    				</div>
	    				<div class="event-entry d-flex ftco-animate">
	    					<div class="meta mr-4">
	    						<p>
	    							<span>07</span>
	    							<span>Aug 2020</span>
	    						</p>
	    					</div>
	    					<div class="text">
	    						<h3 class="mb-2"><a href="events.html">Wednesday Singing Parade</a></h3>
	    						<p class="mb-4"><span>9:00am at 12th Street Tema Accra</span></p>
	    						<a href="events.html" class="img" style="background-image: url({% static 'images/sing1.jpg' %});"></a>
	    					</div>
	    				</div>
    				</div>
    			</div>
    		</div>
    	</div>
    </section>
    <section class="ftco-section">
      <div class="container">
        <div class="row justify-content-center mb-5 pb-5">
          <div class="col-md-7 text-center heading-section ftco-animate">
            <span class="subheading">Blog</span>
            <h2>Recent Blog</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, eius mollitia suscipit,, there live the blind texts. Separated they live in</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 ftco-animate">
            <div class="blog-entry">
              <a href="{% url 'youth:index' %}" class="block-20" style="background-image: url({% static 'images/blog1.jpg' %});">
              </a>
              <div class="text p-4 d-block">
                <div class="meta mb-3">
                  <div><a href="#">Sept 14, 2020</a></div>
                  <div><a href="#">Admin</a></div>
                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                </div>
                <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
              </div>
            </div>
          </div>
          <div class="col-md-4 ftco-animate">
            <div class="blog-entry" data-aos-delay="100">
              <a href="{% url 'youth:index' %}" class="block-20" style="background-image: url({% static 'images/blog2.jpg' %});">
              </a>
              <div class="text p-4">
                <div class="meta mb-3">
                  <div><a href="#">Sept 14, 2020</a></div>
                  <div><a href="#">Admin</a></div>
                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                </div>
                <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
              </div>
            </div>
          </div>
          <div class="col-md-4 ftco-animate">
            <div class="blog-entry" data-aos-delay="200">
              <a href="{% url 'youth:index' %}" class="block-20" style="background-image: url({% static 'images/blog3.jpg' %});">
              </a>
              <div class="text p-4">
                <div class="meta mb-3">
                  <div><a href="#">Sept 14, 2020</a></div>
                  <div><a href="#">Admin</a></div>
                  <div><a href="#" class="meta-chat"><span class="icon-chat"></span> 3</a></div>
                </div>
                <h3 class="heading"><a href="#">Even the all-powerful Pointing has no control about the blind texts</a></h3>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="ftco-section-parallax">
      <div class="parallax-img d-flex align-items-center">
        <div class="container">
          <div class="row d-flex justify-content-center">
            <div class="col-md-7 text-center heading-section heading-section-white ftco-animate">
              <h2>Subcribe to our Weekly Devotional Messages</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, eius mollitia suscipit.</p>
              <div class="row d-flex justify-content-center mt-5">
                <div class="col-md-6">
                  <form class="subscribe-form" enctype="multipart/form-data" method="post" action="/newsletter/devotional/subscribe/">
                    {% csrf_token %}
                    <div class="form-group">
                      <input class="form-control" type="email" name="email_field" required="" id="id_email_field" placeholder="Enter email address">
                      <button class="btn btn-primary py-3 px-5" id="id_submit" name="submit" value="Subscribe" type="submit">Subscribe</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock body %}