{% extends 'youth/base.html' %}
{% load static %}

{% block title %}Sermons{% endblock %}

{% block body %}
    <section id="home" class="video-hero js-fullheight" style="height: 700px; background-image: url({% static 'images/back.jpg' %});  background-size:cover; background-position: center center;background-attachment:fixed;" data-section="home">
			<div class="overlay js-fullheight"></div>
			<div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-10 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
            <p class="breadcrumbs mb-2" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="{% url 'youth:index' %}">Home</a></span> <span>Sermons</span></p>
            <h1 class="mb-3 mt-0 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Sermons</h1>
          </div>
        </div>
      </div>
		</section>

		<section class="ftco-bible-study">
			<div class="container-wrap">
				<div class="col-md-12 wrap">
					<div class="container">
						<div class="row">
							<div class="col-md-12 d-md-flex">
								<div class="one-forth ftco-animate">
									<h3>Youth Church Congress</h3>
									<p>The annual youth church program comes off this December. See you SOON!!</p>
								</div>
								<div class="one-half d-md-flex align-items-md-center ftco-animate">
									<div class="countdown-wrap">
										<p class="countdown d-flex">
											<span id="days"></span>
											<span id="hours"></span>
											<span id="minutes"></span>
											<span id="seconds"></span>
										</p>
									</div>
									<div class="button">
										<p><a href="#" class="btn btn-primary p-3">Events Details</a></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section class="ftco-section">
      <div class="container">
        <div class="row">
        	<div class="col-md-4 ftco-animate">
        		<div class="sermons">
        			<a href="https://www.youtube.com/watch?v=VrkXGG3EKPU" class="img popup-vimeo mb-3 d-flex justify-content-center align-items-center" style="background-image: url({% static 'images/pray1.jpg' %});">
        				<div class="icon d-flex justify-content-center align-items-center">
        					<span class="icon-play"></span>
        				</div>
        			</a>
        			<div class="text">
        				<h3><a href="#">Be at Peace With One Another</a></h3>
        				<span class="position">Pastor. Confidence</span>
        				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
        			</div>
        		</div>
        	</div>
        	<div class="col-md-4 ftco-animate">
        		<div class="sermons">
        			<a href="https://www.youtube.com/watch?v=VrkXGG3EKPU" class="img popup-vimeo mb-3 d-flex justify-content-center align-items-center" style="background-image: url({% static 'images/pray2.jpg' %});">
        				<div class="icon d-flex justify-content-center align-items-center">
        					<span class="icon-play"></span>
        				</div>
        			</a>
        			<div class="text">
        				<h3><a href="#">Inspirational Message of God</a></h3>
        				<span class="position">Pastor. Bright</span>
        				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
        			</div>
        		</div>
        	</div>
        	<div class="col-md-4 ftco-animate">
        		<div class="sermons">
        			<a href="https://www.youtube.com/watch?v=VrkXGG3EKPU" class="img popup-vimeo mb-3 d-flex justify-content-center align-items-center" style="background-image: url({% static 'images/pray3.jpg' %});">
        				<div class="icon d-flex justify-content-center align-items-center">
        					<span class="icon-play"></span>
        				</div>
        			</a>
        			<div class="text">
        				<h3><a href="#">Prayers and Presence</a></h3>
        				<span class="position">Pastor Caleb</span>
        				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
        			</div>
        		</div>
        	</div>
        	<div class="col-md-4 ftco-animate">
        		<div class="sermons">
        			<a href="https://www.youtube.com/watch?v=VrkXGG3EKPU" class="img popup-vimeo mb-3 d-flex justify-content-center align-items-center" style="background-image: url({% static 'images/pray2.jpg' %});">
        				<div class="icon d-flex justify-content-center align-items-center">
        					<span class="icon-play"></span>
        				</div>
        			</a>
        			<div class="text">
        				<h3><a href="#">Be at Peace With One Another</a></h3>
        				<span class="position">Pastor. Doe</span>
        				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
        			</div>
        		</div>
        	</div>
        	<div class="col-md-4 ftco-animate">
        		<div class="sermons">
        			<a href="https://www.youtube.com/watch?v=VrkXGG3EKPU" class="img popup-vimeo mb-3 d-flex justify-content-center align-items-center" style="background-image: url({% static 'images/pray3.jpg' %});">
        				<div class="icon d-flex justify-content-center align-items-center">
        					<span class="icon-play"></span>
        				</div>
        			</a>
        			<div class="text">
        				<h3><a href="#">Inspirational Message of God</a></h3>
        				<span class="position">Pastor. Esinam</span>
        				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
        			</div>
        		</div>
        	</div>
        	<div class="col-md-4 ftco-animate">
        		<div class="sermons">
        			<a href="https://www.youtube.com/watch?v=VrkXGG3EKPU" class="img popup-vimeo mb-3 d-flex justify-content-center align-items-center" style="background-image: url({% static 'images/pray1.jpg' %});">
        				<div class="icon d-flex justify-content-center align-items-center">
        					<span class="icon-play"></span>
        				</div>
        			</a>
        			<div class="text">
        				<h3><a href="#">Prayers and Presence</a></h3>
        				<span class="position">Akoto</span>
        				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor</p>
        			</div>
        		</div>
        	</div>
        </div>
        <div class="row mt-5">
          <div class="col text-center">
            <div class="block-27">
              <ul>
                <li><a href="#">&lt;</a></li>
                <li class="active"><span>1</span></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&gt;</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock body%}