{% extends 'youth/base.html' %}
{% load static %}

{% block title %}Finances{% endblock title %}
{% block body %}

    <section id="home" class="video-hero js-fullheight" style="height: 700px; background-image: url({% static 'images/back.jpg' %});  background-size:cover; background-position: center center;background-attachment:fixed;" data-section="home">
			<div class="overlay js-fullheight"></div>
			<div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-10 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
            <p class="breadcrumbs mb-2" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="{% url 'youth:index' %}">Home</a></span> <span>Finances</span></p>
            <h1 class="mb-3 mt-0 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Finances</h1>
          </div>
        </div>
      </div>
		</section>

	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
          <h2 class="mb-4 text-center ">Charley, {{ user.first_name|default:'Guest' }}! Pay your dues, okay?<a href="{% url 'accounts:payment' %}" class="btn btn-primary p-3">Make Payment</a></h2>
				<div class="table100">
					<table>
						<thead>
							<tr class="table100-head">
								<th class="column1">Date</th>
								<th class="column2">Reference ID</th>
								<th class="column3">Type</th>
								<th class="column4">Amount</th>
								<th class="column5">Paid</th>
								<th class="column6"></th>
							</tr>
						</thead>
						<tbody>
							{% for pay in queryset %}
								<tr>
									<td class="column1">{{ pay.created_on }}</td>
									<td class="column2">{{ pay.fullname }}</td>
									<td class="column3">{{ pay.types }}</td>
									<td class="column4">GHS {{ pay.amount }}</td>
									<td class="column5"><i class="icon-money" aria-hidden="true"></i></td>
									<td class="column6"></td>
								</tr>
							{% endfor %}	
						</tbody>                
				  </table>
				  <table>
					<thead>
						<tr class="table100-head">
							<th class="column1"></th>
							<th class="column2"><strong> TOTAL </strong></th>
							<th class="column3"></th>
							<th class="column4"></th>
							<th class="column5"><strong> GHS {{ total }}</strong></th>
							<th class="column6"></th>
						</tr>
					</thead>

				</table>
				</div>
			</div>
		</div>
	</div>



{% endblock body %}