{% extends 'youth/base.html' %}
{% load static %}

{% block title %}Finances{% endblock title %}
{% block body %}

    <section id="home" class="video-hero js-fullheight" style="height: 700px; background-image: url({% static 'images/back.jpg' %});  background-size:cover; background-position: center center;background-attachment:fixed;" data-section="home">
			<div class="overlay js-fullheight"></div>
			<div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-10 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }">
            <p class="breadcrumbs mb-2" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="{% url 'youth:index' %}">Home</a></span> <span>Finances</span></p>
            <h1 class="mb-3 mt-0 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Finances</h1>
          </div>
        </div>
      </div>
		</section>

          {% comment %} <div class="col-md-12 col-lg-8 mb-5">
              <form action="" class="p-5 bg-white" method="post" >
                <div class="row form-group">
                    <div class="col-md-12 mb-3 mb-md-0">
                        <label class="font-weight-bold" for="fullname">Full Name</label>
                        <input type="text" id="fullname" name="fullname" class="form-control" placeholder="Full Name" required>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-12">
                        <label class="font-weight-bold" for="email">Email</label>
                        <input type="email" id="email" name="email" class="form-control" placeholder="Email Address" required>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-12 mb-3 mb-md-0">
                        <label class="font-weight-bold" for="mobile_number">Mobile Number</label>
                        <input type="text" id="mobile_number" name="mobile_number" class="form-control" placeholder="Mobile Number" required>
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-md-12 mb-3 mb-md-0">
                        <label class="font-weight-bold" for="type">Type</label>
                        <select id="type" name="type" class="form-control" required>
                          <option value="dues" name="dues">Dues</option>
                          <option value="welfare" name="welfare">Welfare</option>
                          <option value="special" name="special">Special Contribution</option>
                          <option value="donation" name="donation">Donation</option>
                        </select>
                    </div>
                </div>                

                <div class="row form-group">
                    <div class="col-md-12 mb-3 mb-md-0">
                        <label class="font-weight-bold" for="amount">Amount</label>
                        <input type="number" id="amount" name="amount" class="form-control" placeholder="Amount eg. 100" required>
                    </div>
                </div>
                  <div class="row form-group">
                    <div class="col-md-12">
                        <script src="https://js.paystack.co/v1/inline.js"></script>
                        <button  type="submit" onclick="payWithPaystack()" class="btn btn-primary pill px-4 py-2"> Pay </button>
                    </div>
                  </div>
              </form>
          </div> {% endcomment %}

	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
          <h2 class="mb-4 text-center ">Charley, {{ user.first_name|default:'Guest' }}! Pay your dues, okay?<a href="{% url 'accounts:payment' %}" class="btn btn-primary p-3">Make Payment</a></h2>
				<div class="table100">
					<table>
						<thead>
							<tr class="table100-head">
								<th class="column1">Date</th>
								<th class="column2">Reference ID</th>
								<th class="column3">Type</th>
								<th class="column4">Amount</th>
								<th class="column5">Paid</th>
								<th class="column6">Total</th>
							</tr>
						</thead>
						<tbody>
							{% for pay in queryset %}
								<tr>
									<td class="column1">{{ pay.created_on }}</td>
									<td class="column2">{{ pay.fullname }}</td>
									<td class="column3">{{ pay.types }}</td>
									<td class="column4">GHS {{ pay.amount }}</td>
									<td class="column5"><i class="icon-money" aria-hidden="true"></i></td>
									<td class="column6">$999.00</td>
								</tr>
							{% endfor %}	
						</tbody>                
  				</table>
				</div>
			</div>
		</div>
	</div>



{% endblock body %}