{% extends "accounts/base.html" %}
{% load static %}

{% block title %}Payment{% endblock %}

{% block body %}
          <!-- {% comment %} pk_live_6fd88f7a7e79d8ce558178692fab1f5e37293c5f {% endcomment %} -->
	<div class="limiter">
		<div class="container-login100" style="background-image: url({% static 'images/back.jpg' %});">
			<div class="wrap-login100 p-t-190 p-b-30">
    			<span class="login100-form-title p-t-20 p-b-45">Make Payments Here!</span> 
                    <form method="POST" id="forms" enctype="multipart/form-data">       
                    {% csrf_token %}
                        <div style="text-align:center;" class="wrap-input100 validate-input m-b-10">
                            <i class="fa fa-user"></i>
                            <label for="fullname">Full Name</label>
                            <input class="input100" type="text" id="fullname" name="fullname" placeholder="Full Name" required>
                            <span class="focus-input100"></span>
                            <span class="symbol-input100"></span>
                        </div>
                        <div style="text-align:center;" class="wrap-input100 validate-input m-b-10">
                            <i class="fa fa-envelope-o"></i>
                            <label for="email">Email</label>
                            <input class="input100" type="email" id="email" name="email" placeholder="Email" required>
                            <span class="focus-input100"></span>
                            <span class="symbol-input100"></span>
                        </div>
                        <div style="text-align:center;" class="wrap-input100 validate-input m-b-10">
                            <i class="fa fa-phone"></i>
                            <label for="mobile_number">Mobile Number</label>
                            <input class="input100" type="text" id="mobile_number" name="mobile_number" placeholder="Mobile Number" maxlength="10" required>
                            <span class="focus-input100"></span>
                            <span class="symbol-input100"></span>
                        </div>
                        <div style="text-align:center;" class="wrap-input100 validate-input m-b-10">
                            <i class="fa fa-chevron-circle-down"></i>
                            <label for="type">Type</label>
                            <select id="type" name="types" class="input100" required>
                                <option class="input100" value="Dues" name="dues">Dues</option>
                                <option class="input100" value="Welfare" name="welfare">Welfare</option>
                                <option class="input100" value="Special Contribution" name="special">Special Contribution</option>
                                <option class="input100" value="Donation" name="donation">Donation</option>
                            </select>
                            <span class="focus-input100"></span>
                            <span class="symbol-input100"></span>
                        </div>
                        <div style="text-align:center;" class="wrap-input100 validate-input m-b-10">
                            <i class="fa fa-money"></i>
                            <label for="amount">Amount</label>
                            <input class="input100" type="number" id="amount" name="amount" placeholder="Amount" required>
                            <span class="focus-input100"></span>
                            <span class="symbol-input100"></span>
                        </div>
                        
                        <div class="container-login100-form-btn p-t-10">
                            <script src="https://js.paystack.co/v1/inline.js"></script>
                            <button class="login100-form-btn" type="button" onclick="payWithPaystack()" >Pay</button>
                        </div>
                        <div class="text-center w-full p-t-25 p-b-230">
                            <a href="{% url 'youth:index' %}" class="txt1">Home<br></a>
                            <a href="{% url 'accounts:dashboard' %}" class="txt1">Dashboard<br></a>
					    </div>
                    </form>
            </div>
        </div>
    </div>


{% block scripts %}
<script>
  function payWithPaystack(){
      var fullname = document.getElementById("fullname").value;
      var email = document.getElementById("email").value;
      var mobile_number = document.getElementById("mobile_number").value;
      var amount = document.getElementById("amount").value;

      var handler = PaystackPop.setup({
        key: 'pk_test_c67af25f5c63f4500477a93ce4ca5221e5a758a3',
        email: email,
        amount: amount * 100,
        currency: "GHS",
        ref: ''+Math.floor((Math.random() * 10000000000) + 1), 
        metadata: {
            custom_fields: [
            {
                display_name: "Name",
                variable_name: "fullname",
                value: fullname
            },
            {
                display_name: "Mobile Number",
                variable_name: "mobile_number",
                value: mobile_number
            }
         ]
      },
      callback: function(response){
        ref = response.reference
        document.getElementById("forms").button();
        window.location ="{% url 'accounts:dashboard' %}";
        alert('Transaction was successful. Reference: ' + response.reference);
        
      },
      onClose: function(){
          alert('Transaction Cancelled!');
      }
    });
    handler.openIframe();
  }
</script>
{% endblock scripts %}

{% endblock body %}