{% extends 'accounts/base.html' %}
{% load static %}

{% block title %}Update Profile{% endblock title %}
{% block body %}
	<div class="limiter">
		<div class="container-login100" style="background-image: url({% static 'images/back.jpg' %});">
			<div class="wrap-login100 p-t-190 p-b-30">
                <form method="POST" class="login100-form validate-form" enctype="multipart/form-data">
	            {% csrf_token %}
					<span class="login100-form-title p-t-20 p-b-45">
						Profile Info
					</span>

					<div class="container-login100-form-btn p-t-20">
                        
                            <div style="text-align:center;" class="wrap-input100 validate-input m-b-10">
                                <i class="fa fa-picture-o"></i>
                                <label for="id_profile_pic">Profile Picture</label>
                                <input class="form-control" id="id_profile_pic" name="profile_pic" type="file" required>
                                <span class="focus-input100"></span>
                                <span class="symbol-input100"></span>
                	        </div>
                        
                            <div style="text-align:center;" class="wrap-input100 validate-input m-b-10">
                                <i class="fa fa-phone"></i>
                                <label for="id_phone">Phone</label>
                                <input class="input100" id="id_phone" name="phone" type="tel" placeholder="Phone Number" maxlength=10 required>
                                <span class="focus-input100"></span>
                                <span class="symbol-input100"></span>
                            </div>

                            <div class="container-login100-form-btn p-t-10">
                                <button type="submit" class="login100-form-btn">Update Profile</button>
                            </div>

         					<div class="text-center w-full p-t-25 p-b-230">
	        					<a href="{% url 'accounts:password_change' %}" class="txt1">
			    				    Forgot Username / Password?<br>
				        		</a>
						        <a href="{% url 'youth:index' %}" class="txt1">
							        Home
						        </a>
        					</div>                
                    </div> 
                </form>
            </div> 
        </div>
    </div>           


{% endblock body %}