{% extends 'accounts/base.html' %}
{% load static %}
{% block title %}Log In{% endblock %}
{% block body %}
	<div class="limiter">
		<div class="container-login100" style="background-image: url({% static 'images/back.jpg' %});">
			<div class="wrap-login100 p-t-190 p-b-30">
				<form method="post" class="login100-form validate-form" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="login100-form-avatar">
						<img src="{% static 'images/iconn.jpg' %}" alt="AVATAR">
					</div>

					<span class="login100-form-title p-t-20 p-b-45">
						Log In
					</span>
					<div class="container-login100-form-btn p-t-20">
					    	
				    		<div style="text-align:center;" class="wrap-input100 validate-input m-b-10">
                                    <i class="fa fa-user"></i>
                                    <label for="id_username">Username</label>
                                    <input class="input100" id="id_username" name="username" type="text" placeholder="Username" required>
                                    <span class="focus-input100"></span>
						            <span class="symbol-input100"></span>
                        
					        </div>
                            <div style="text-align:center;" class="wrap-input100 validate-input m-b-10">
                                    <i class="fa fa-lock"></i>
                                    <label for="id_username">Password</label>
                                    <input class="input100" id="id_password1" name="password" type="password" placeholder="Password" required>
                                    <span class="focus-input100"></span>
						            <span class="symbol-input100"></span>
                        
					        </div>

							<div class="container-login100-form-btn p-t-10">
								<button type="submit" class="login100-form-btn">
									Login
								</button>
							</div>
					</div>
					<div class="text-center w-full p-t-25 p-b-230">
						<a href="{% url 'accounts:password_change' %}" class="txt1">
							Forgot Username / Password?<br>
						</a>
						<a href="{% url 'youth:index' %}" class="txt1">
							Home
						</a>
					</div>

					<div class="text-center w-full">
						<a class="txt1" href="{% url 'accounts:register' %}">
							Create new account
							<i class="fa fa-long-arrow-right"></i>						
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>

{% endblock body %}